footer {
  background-color: $color-high-grey;
  padding-top: 20px;
  padding-left: 20px;
}

footer a {
  text-decoration: none;
  color: $color-white;
  font-size: x-larges;
}

footer i {
  color: $color-white;
}

footer ul {
  margin-left: 15px;
  list-style-type: none;
}

.footer__logo {
  font-family: "Shrikhand", cursive;
  color: $color-white;
  font-size: x-large;
}
