@mixin btn-color-pink {
  padding: 1.5rem;
  background: linear-gradient(350deg, $color-primary, $color-secondary);
  cursor: pointer;
  border-radius: 100rem;
  font-size: 1.5rem;
  color: #fff;
  border: none;
  transition: all .2s ease-in-out;
  box-shadow: 5px 5px 5px 1px #d6d4d4;
}

.btn {
  &__explorer__restaurant {
    @include btn-color-pink;
    transform: scale(1);
    transition: transform 400ms;
  }
  &__commander_positionnement{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 35px;
    padding-bottom: 35px;
  }

  &__commander {
    @include btn-color-pink;
    transform: scale(1);
    transition: transform 400ms;
  }

  &__commander:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 5px 1px #c4c3c3;
    background: linear-gradient(350deg, $color-primary-lighter, $color-secondary-lighter);
  }

  &__heart {
    cursor: pointer;
    color: $color-black;
    border: 3px;
    /* text-shadow: 1.5px 0 0 #000, -1.5px 0 0 #000, 0 1.5px 0 #000,
      0 -1.5px 0 #000; */
    margin-right: 55px;
    position: relative;
    & i {
      position: absolute;
    }

    & .fas{
     opacity: 0;
     background: linear-gradient(350deg, $color-primary, $color-secondary);
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
     transform: scale(1);
     transition: transform 2000ms, opacity 2000ms ;
    }

    & .far{
    opacity: 1;
    transition: transform 2000ms, opacity 2000ms ; 
    }
  }

  &__explorer__restaurant:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 5px 1px #c4c3c3;
    background: linear-gradient(350deg, $color-primary-lighter, $color-secondary-lighter);
  }

  &__heart:hover{

    & .fas{
      opacity: 1;
      transform: scale(1.2);
      
     }
 
     & .far{
     opacity: 0;
     }
  }

  &__heart_à_la_française {
    cursor: pointer;
    color: $color-black;
    border: 3px;
    /* text-shadow: 1.5px 0 0 #000, -1.5px 0 0 #000, 0 1.5px 0 #000,
      0 -1.5px 0 #000; */
    left:63px;
    bottom: 33px;
    position: relative;
    & i {
      position: absolute;
    }

    & .fas{
     opacity: 0;
     background: linear-gradient(350deg, $color-primary, $color-secondary);
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
     transform: scale(1);
     transition: transform 2000ms, opacity 2000ms ;
    }

    & .far{
    opacity: 1;
    transition: transform 2000ms, opacity 2000ms ; 
    }
  }


  &__heart_à_la_française:hover{

    
    & .fas{
      opacity: 1;
      transform: scale(1.2);
     }
 
     & .far{
     opacity: 0;
     }
  }

  &__heart_accueil{
    cursor: pointer;
    color: $color-black;
    border: 3px;
    /* text-shadow: 1.5px 0 0 #000, -1.5px 0 0 #000, 0 1.5px 0 #000,
      0 -1.5px 0 #000; */
    position: relative;
    left: 20px;
    bottom: 33px;
    & i {
      position: absolute;
    }

    & .fas{
     opacity: 0;
     background: linear-gradient(350deg, $color-primary, $color-secondary);
     background-clip: text;
     -webkit-background-clip: text;
     color: transparent;
     transform: scale(1);
     transition: transform 2000ms, opacity 2000ms ;
    }

    & .far{
    opacity: 1;
    transition: transform 2000ms, opacity 2000ms ; 
    }
  }

  &__explorer__restaurant:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 5px 1px #c4c3c3;
    background: linear-gradient(350deg, $color-primary-lighter, $color-secondary-lighter);
  }

  &__heart_accueil:hover{


    & .fas{
      opacity: 1; 
      transform: scale(1.2);
     }
 
     & .far{
     opacity: 0;
     }
  }
}

.titre_restaurant .btn__heart{
  padding-top: 11px;
  padding-left: 10px;
  font-size: 3rem;
}

.btn__heart_à_la_française_titre_restaurant{
  padding-top: 20px;
  font-size: 3rem;
}

@media screen and (min-width: 610px)
{
  .btn__heart_accueil{
   left: 40px;
  }
  .btn__heart_à_la_française{
    left: 80px;
  }

  .titre_restaurant .btn__heart{
    padding-top: 20px;
    padding-left: 10px;
    font-size: 3rem;
  }

}

@media screen and (min-width: 880px){

.btn__heart_accueil {
    left: 190px;
}

.btn__heart_à_la_française {
  left: 230px;
}

}
