@mixin btn-color-pink {
  padding: 1.5rem;
  background: linear-gradient(350deg, $color-primary, $color-secondary);
  cursor: pointer;
  border-radius: 100rem;
  font-size: 1.5rem;
  color: #fff;
  border: none;
}

.btn {
  &__explorer__restaurant {
    @include btn-color-pink;
  }

  &__commander {
    @include btn-color-pink;
  }

  &__heart {
    cursor: pointer;
    color: $color-black;
    background-color: $color-background_chiffres;
    border: 3px;
    /* text-shadow: 1.5px 0 0 #000, -1.5px 0 0 #000, 0 1.5px 0 #000,
      0 -1.5px 0 #000; */
    padding-left: 65px;
  }
}
