body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.7;
}

.logo h1 {
  font-family: "Shrikhand", cursive;
}

.titre_restaurant {
  font-family: "Shrikhand", cursive;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: large;
  font-style: italic;
}

h2 {
  font-size: medium;
}

p {
  font-size: small;
}

article {
  border-radius: 20px;
  background-color: $color-white;
  margin-top: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.fonctionnement {
  @include flex_column_center;
}
.fonctionnement ul {
  list-style-type: none;
}

.fonctionnement a {
  text-decoration: none;
  list-style-type: none;
  color: $color-black;
}

.fonctionnement i {
  color: $color-fonctionnement-icons-no-hover;
}

.fonctionnement i:hover {
  color: $color-fonctionnement-icons-with-hover;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.75rem;
}

.back_icon {
  padding-left: -200px;
  color: $color-high-grey;
}

.image_menu_restaurant {
  object-fit: cover;
  width: 100%;
  height: 220px;
}
