body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

.logo h1 {
  font-family: "Shrikhand", cursive;
}

.titre_restaurant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.titre_restaurant h2{
  font-family: "Shrikhand", cursive;
  font-size: 4rem;
  padding-left: 35px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: large;
  font-style: italic;
}

.container_accueil h2 {
  font-size: 2.2rem;
  font-weight: 900;
}

.container_accueil h3 {
  font-size: 2rem;
  font-weight: 900;
}

.container_accueil p {
  font-size: 1.7rem;

}

.citation{
  color: $color-high-grey;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
}

.loader{
  position: fixed;
  inset:0;
  z-index: 1;
  opacity: 0.9;
  background: $color-white;
  background-color: $color-white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease-in-out;
  animation: disappear 100ms 1.5s forwards;
  transform-origin: top;
}

@keyframes disappear{
    0%{
      transform: scale(1);
    }
    100%{
      transform: scale(0);
    }
}

@keyframes transform_menu_items{
  0%{
    transform: translateY(50%);
    opacity: 0;
  }
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}

.dot{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 15px;
  animation: loader infinite 0.3s alternate;
}

.d1{
  background-color: $color-primary;
}

.d2 {
  animation-delay: 0.05s;
  background-color: $color-secondary;
}

.d3 {
  animation-delay: 0.1s;
  background-color: $color-btn;
}


@keyframes loader {
  100% {
    transform: translateY(-30px);
  } 
}

article {
  border-radius: 20px;
  background-color: $color-white;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  box-shadow: 5px 5px 5px 1px #ebe7e7;
  width: 90%;
  transition: transform 400ms;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

article:hover {
    transform: scale(1.2);
    box-shadow: 5px 5px 5px 1px #c4c3c3;
    & .box{
      margin-right: 0;
    }
    & .icone_box{
      transform: rotate(0deg);
    }
    & .carte_prix{
      margin-right: 10px;
    }
}


.block_texte{
width: 100%;
}

.box {
  background-color: $color-back-new-text;
  width: 100px;
  height: 75px;
  opacity: 1;
  border-top-right-radius: 20px ;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -100px;
  transition: margin-right 500ms cubic-bezier(.54,.4,.86,.65);
}

.icone_box{
  color: $color-white;
  transition: transform 500ms cubic-bezier(.54,.4,.86,.65);
  transform:rotate(360deg)
}

.prix:hover .box{
    display: block;
    transform-origin: right 50%;
}

@keyframes slide {
  0%{opacity: 0;}
  100%{opacity: 1;}
}

.fonctionnement {
  @include flex_column_center;
}
.fonctionnement ul {
  list-style-type: none;
}

.fonctionnement a {
  text-decoration: none;
  list-style-type: none;
  color: $color-black;
}

.fonctionnement i {
  color: $color-fonctionnement-icons-no-hover;
}

.fonctionnement i:hover {
  color: $color-fonctionnement-icons-with-hover;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
}

button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.75rem;
}

.back_icon {
  color: $color-high-grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 25px;
  position: absolute;
  left: 20px;
}

.back_icon:hover{
  transform: scale(1.2);
}

.image_menu_restaurant {
  object-fit: cover;
  width: 100%;
  height: 220px;
}

article{
  animation: transform_menu_items 1s;
  animation-fill-mode: both;
  @for $i from 1 through 3 {
    &:nth-child(#{$i}){
      animation-delay: 1.5s + 100ms * $i;
    }
  }
}

.entree article{
  position: relative;
}

.entree h3{
    border-top: none;
    border-bottom: 3.5px solid;
    border-color: $color-back-new-text;
    width: 45px;
    margin-left: 30px;
    font-weight:300;
    font-size: 2rem;
}

.entree h4{
  font-weight: bolder;
  font-size: 2rem;
  font-style: italic;
  margin-left: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 220px;
}

.entree p{
  font-size: 1.5rem;
  margin-left: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 218px;
}

.entree span{
  font-weight: bold;
  font-size: 1.5rem;
  font-style: italic;
  color: $color-high-grey;
  margin-right: 10px;
}

.entree__postionnement_texte{
display: flex;
flex-direction: row;
justify-content: space-between;
}

.plats h3{
  border-top: none;
  border-bottom: 3.5px solid;
  border-color: $color-back-new-text;
  width: 45px;
  margin-left: 30px;
  padding-top: 20px;
  font-weight:300;
  font-size: 2rem;
}

.plats h4{
  font-weight: bolder;
  font-size: 2rem;
  font-style: italic;
  margin-left: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 220px;
}

.plats p{
  font-size: 1.5rem;
  margin-left: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 269px;
}

.plats span{
  font-weight: bold;
  font-size: 1.5rem;
  font-style: italic;
  color: $color-high-grey;
  margin-right: 10px;
}

.desserts h3{
  border-top: none;
  border-bottom: 3.5px solid;
  border-color: $color-back-new-text;
  width: 45px;
  margin-left: 30px;
  padding-top: 20px;
  font-weight:300;
  font-size: 2rem;
}

.desserts h4{
  font-weight: bolder;
  font-size: 2rem;
  font-style: italic;
  margin-left: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 220px;
}
  
.desserts p{
  font-size: 1.5rem;
  margin-left: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 269px;
}
  
.desserts span{
  font-weight: bold;
  font-size: 1.5rem;
  font-style: italic;
  color: $color-high-grey;
  margin-right: 10px;
}

@media screen and (min-width: 1024px)

{
  article {
    width: 482px;
  }

  .entree_positionnement_1
  {
   display: flex;
   flex-direction: row;
   justify-content: center;
  }

  .entree_positionnement_2
  {
   display: flex;
   flex-direction: row;
   justify-content: center;
  }

  .entree_positionnement
  {
   display: flex;
   flex-direction: row;
   align-items: center;
  }

  .plats_positionnement
  {
    display: flex;
    flex-direction: row;
    align-items: center;
   }

   .desserts_positionnement
   {
    display: flex;
    flex-direction: row;
    align-items: center;
   }
}

