.image_accueil {
  object-fit: cover;
  width: 100%;
  height: 125px;
  border-radius: 20px 20px 0 0;
}

.carte {
  width: 80%;
}

.localisation {
  background-color: $color-mid-grey;
  @include flex_center;
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
}

.localisation h3 {
  padding-left: 25px;
  font-size: 1.5rem;
  font-style: italic;
  color: $color-high-grey;
}

.localisation i {
  color: $color-high-grey;
}

.background_new_text{
  background-color: $color-back-new-text;
  border-radius: 2px; 
  font-weight: bold;
  width: 80px;
  height: 30px;
  position: absolute;
  top: 15px;
  left:140px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new_text{
  color:$color-new-text;
  text-align: center;
  font-size: 1.4rem;
  margin: 0;
}

.reserver {
  @include flex_column_center;
  align-content: center;
  text-align: center;
}

.titre_restaurants {
  padding-right: 170px;
  padding-bottom: 20px;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.restaurant_1{
  padding-top: 14px;
}

#restaurant_block {
  background-color: $color-low-grey;
  padding-top: 35px;
  padding-bottom: 50px;
  @include flex_column_center;
}

.sous_block_restaurant {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30%;
  width: 255px;
}

* {
  box-sizing: border-box;
}

p {
  margin: 0 0 1em 0;
}

.fonctionnement_liste {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background-color: $color-mid-grey;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 5px 5px 5px 1px #ebe7e7;
  width: 252px;
  height: 70px;
  cursor: pointer;
  transform: scale(1);
  transition: transform 400ms;
}

.fonctionnement_liste h1 {
  cursor: pointer;
}

.fonctionnement_liste:hover{
  transform: scale(1.02);
  background: $color-background-hover-fonctionnement;
  .icone_fonctionnement {
    color: $color-background_chiffres;
  }
  box-shadow: 5px 5px 5px 1px #c4c3c3;
}

.fonctionnement_text{
  font-size: 1.7rem;
}

.chiffres {
  display: inline-block;
  margin: 2px;
  font-size: 15px;
  cursor: pointer;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: $color-background_chiffres;
  margin-left: -30px;
  text-align: center;
  color: $color-white;
}

.icone_fonctionnement {
  padding-top: 7px;
  padding-left: 5px;
  padding-right: 10px;
  color: $color-high-grey;
  cursor: pointer;
}

.restaurant_sous_titre {
  padding-left: 12px;
}

.la_palette_du_goût_carte {
  border-radius: 20px;
  background-color: $color-white;
  width: 90%;
  height: 190px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px 1px #ebe7e7;
  position: relative;
  cursor: pointer;
  transform: scale(1);
  transition: transform 400ms;
  margin-left: auto;
  margin-right: auto;
}

.la_palette_du_goût_carte:hover{
  transform: scale(1.2);
  box-shadow: 5px 5px 5px 1px #c4c3c3;
}

.la_note_enchantee_carte {
  border-radius: 20px;
  background-color: $color-white;
  width: 90%;
  height: 190px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px 1px #ebe7e7;
  position: relative;
  cursor: pointer;
  transform: scale(1);
  transition: transform 400ms;
  margin-left: auto;
  margin-right: auto;
}

.la_note_enchantee_carte:hover{
  transform: scale(1.2);
  box-shadow: 5px 5px 5px 1px #c4c3c3;
}

.a_la_française_carte {
  border-radius: 20px;
  background-color: $color-white;
  width: 90%;
  height: 190px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px 1px #ebe7e7;
  position: relative;
  cursor: pointer;
  transform: scale(1);
  transition: transform 400ms;
  margin-left: auto;
  margin-right: auto;
}

.a_la_française_carte:hover{
  transform: scale(1.2);
  box-shadow: 5px 5px 5px 1px #c4c3c3;
}

.le_délice_des_sens_carte {
  border-radius: 20px;
  background-color: $color-white;
  width: 90%;
  height: 190px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px 1px #ebe7e7;
  position: relative;
  cursor: pointer;
  transform: scale(1);
  transition: transform 400ms;
  margin-left: auto;
  margin-right: auto;
}

.le_délice_des_sens_carte:hover{
  transform: scale(1.2);
  box-shadow: 5px 5px 5px 1px #c4c3c3;
}

.titre_fonctionnement
{
  padding-bottom: 20px;
  text-align: center;
}

.fonctionnement_block
{
  padding-top: 35px;
}

@media screen and (min-width: 1024px)

{

  .titre_fonctionnement
  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .fonctionnement
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 25px;
  }

  .fonctionnement_liste
  {
    margin: 0;
  }
}

@media screen and (min-width: 610px){

  .restaurant_1
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
    gap: 50px;
  }

  .restaurant_2
  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
    gap: 50px;
  }

  .background_new_text{
    left:160px;
  }

  .fonctionnement_liste {
    width: 300px;
  }
  
  .fonctionnement_liste:hover{
    transform: scale(1.2);
  }
}

@media screen and (min-width: 880px){

.image_accueil {
  object-fit: cover;
  width: 100%;
  height: 190px;
  border-radius: 20px 20px 0 0;
}

.la_palette_du_goût_carte {
  border-radius: 20px;
  background-color: $color-white;
  width: 400px;
  height: 277px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px 1px #ebe7e7;
  position: relative;
  cursor: pointer;
  transform: scale(1);
  transition: transform 400ms;
  margin-left: auto;
  margin-right: auto;
}

.la_palette_du_goût_carte:hover{
  transform: scale(1.04);
  box-shadow: 5px 5px 5px 1px #c4c3c3;
}

.la_note_enchantee_carte {
  border-radius: 20px;
  background-color: $color-white;
  width: 400px;
  height: 277px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px 1px #ebe7e7;
  position: relative;
  cursor: pointer;
  transform: scale(1);
  transition: transform 400ms;
  margin-left: auto;
  margin-right: auto;
}

.la_note_enchantee_carte:hover{
  transform: scale(1.04);
  box-shadow: 5px 5px 5px 1px #c4c3c3;
}

.a_la_française_carte {
  border-radius: 20px;
  background-color: $color-white;
  width: 400px;
  height: 277px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px 1px #ebe7e7;
  position: relative;
  cursor: pointer;
  transform: scale(1);
  transition: transform 400ms;
  margin-left: auto;
  margin-right: auto;
}

.a_la_française_carte:hover{
  transform: scale(1.04);
  box-shadow: 5px 5px 5px 1px #c4c3c3;
}

.le_délice_des_sens_carte {
  border-radius: 20px;
  background-color: $color-white;
  width: 400px;
  height: 277px;
  margin-bottom: 50px;
  box-shadow: 5px 5px 5px 1px #ebe7e7;
  position: relative;
  cursor: pointer;
  transform: scale(1);
  transition: transform 400ms;
  margin-left: auto;
  margin-right: auto;
}

.le_délice_des_sens_carte:hover{
  transform: scale(1.04);
  box-shadow: 5px 5px 5px 1px #c4c3c3;
}

.background_new_text{
  top:15px;
  left:300px;
}

}


@media screen and (min-width: 890px){
  
  .la_palette_du_goût_carte:hover{
    transform: scale(1.08);
    box-shadow: 5px 5px 5px 1px #c4c3c3;
  }
  
  .la_note_enchantee_carte:hover{
    transform: scale(1.08);
    box-shadow: 5px 5px 5px 1px #c4c3c3;
  }

  .a_la_française_carte:hover{
    transform: scale(1.08);
    box-shadow: 5px 5px 5px 1px #c4c3c3;
  }
  
  .le_délice_des_sens_carte:hover{
    transform: scale(1.08);
    box-shadow: 5px 5px 5px 1px #c4c3c3;
  }
  
  
  }

@media screen and (min-width: 940px){
  
  .la_palette_du_goût_carte:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 5px 1px #c4c3c3;
  }
  
  .la_note_enchantee_carte:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 5px 1px #c4c3c3;
  }

  .a_la_française_carte:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 5px 1px #c4c3c3;
  }
  
  .le_délice_des_sens_carte:hover{
    transform: scale(1.2);
    box-shadow: 5px 5px 5px 1px #c4c3c3;
  }
  
  
  }