.image {
  object-fit: cover;
  width: 300px;
  height: 120px;
  border-radius: 20px 20px 0 0;
}

.carte {
  width: 80%;
}

.logo {
  font-family: "Shrikhand", cursive;
}

.localisation {
  background-color: $color-mid-grey;
}

#restaurant {
  background-color: $color-low-grey;
}
