$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-primary-lighter: #b06fff;
$color-secondary-lighter: #ff93e0;
$color-accent: #99e2d0;
$color-btn: #d580e0;
$color-background_chiffres: #9356dc;
$color-fonctionnement-icons-with-hover: #9356dc;
$color-fonctionnement-icons-no-hover: #7e7e7e;
$color-low-grey: #f5f5f5;
$color-mid-grey: #f2f2f2;
$color-high-grey: rgb(53, 53, 53);
$color-white: #fff;
$color-black: #000000;
$color-back-new-text:#99E2D0;
$color-new-text:#0B8E6E;
$color-background-hover-fonctionnement:#F5EDFF;

$heading-shadow-size: 0.55rem;
$layout-margin: 6rem;
$grid-gutter: $layout-margin * 0.25;
